@model IEnumerable<McvCrud.Models.Cadastro>


@{
    ViewData["Title"] = "Home Page";
}

          <h1 class="display-4">Cadastro de Ponto Turístico</h1>
          <hr class="my-4">

<div class="container text-center">
    <div class="row">
        <div class="col">
          <h2>Cadastre um novo Ponto Turístico</h2>
          <p class="lead">
            <a asp-action="Create" asp-controller="Cadastros" class="btn btn-primary col-md-4" style="margin-top:40px;" >Cadastrar</a>
          </p>
        </div>
        <div class="col">
          <h2>Pontos Turisticos Cadastrados</h2>
          <p class="lead">
            <a asp-controller="Cadastros" class="btn btn-primary col-md-4" style="margin-top:40px;" >Pontos Turisticos</a>
          </p>
        </div>
    </div>
</div>

